
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Input {
  margin-bottom: 15px;
  
}

.input-group-text { 
  background-color: transparent;
  border: none;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px; 
 align-items: flex-end;
}

.input-group-text > input {
  margin-bottom: 3px;
 
}

.input-group-text, .form-control {
  border-radius:0;

}


.form-control {
   border:none;
   border-bottom: solid 1px;
   padding-left: 0px; 
   
}


.flex label {

  position: absolute;
  right: 10px;
  bottom: 3px;
  visibility: hidden;
  color: red;

}


.flex:hover label {

  visibility: visible; 
  cursor: pointer;
}

.nav {

  justify-content: space-between;

}

Button {

  margin-left: 10px;
  font-weight: bolder;

}

.header, form {
  text-align: center;
}

.header  h1 {
  font-weight: 900;
}

.checked {
 
  text-decoration-line: line-through;
  color:lightgray; 
 
  
}

.checked .look, .checked .input-group-text, .checked .form-control  {
  color: lightgray;
}

.form-control[readonly] {
  background-color: transparent; 
}


